.font12 {
    font-size: 12px !important;
}

.carousel-inner .item img {
    max-width: 84px;
    max-height: 84px;
}

.productinfo img:first-child {
    max-width: 255px;
    max-height: 237px;
}

.active-category, .active-brand, .remove-selection, .child-remove-selection {
    /*color: #FE980F !important;*/
}

.remove-selection, .child-remove-selection, .arrow-selection {
    padding: 0px 7px;
    font-size: 12px !important;
}

.child-remove-selection {
    padding: 0px 17px;
}

.active-brand i {
    padding-right: 3px;
}

.brand-selection {
    padding: 0px 7px !important;
}

.fa-times {
     padding-top: 2px !important;
}